* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 2rem;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.gacha-rates-container {
  border: 1px solid grey;
  margin: 0 auto;
  width: 350px;
  margin-bottom: 1rem;
}
.rate-up-container {
  border: 3px solid gold;
  padding: 1rem;
  background-color: purple;
  border-radius: 18px;
  margin: 2rem 15rem;
  color: whitesmoke;
}

.rate-up-container p {
  font-size: 3rem;
}

#gachaButton {
  width: 300px;
}

#pullTenButton {
  width: 300px;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

/* Define a CSS class for common items with a light gray border */
.common-item {
  border: 3px solid black;
  background-color: #ccc;
  padding: 20px;
  margin: 5px;
  width: 4rem;
  border-radius: 8px;
  display: inline-block;
}

/* Define a CSS class for rare items with a light blue border */
.rare-item {
  border: 3px solid black;
  background-color: #007bff;
  padding: 20px;
  margin: 5px;
  width: 4rem;
  border-radius: 8px;
  display: inline-block;
  animation: pulse 1s infinite; /* Add pulsing animation */
}

/* Define a CSS class for legendary items with a gold border */
.legendary-item {
  border: 3px solid black;
  background-color: gold;
  padding: 20px;
  margin: 5px;
  width: 4rem;
  border-radius: 8px;
  display: inline-block;
  animation: pulse 1s infinite; /* Add pulsing animation */
}

.rate-up-item {
  /* border: 3px solid black; */
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  background-color: purple;
  padding: 20px;
  margin: 5px;
  width: 4rem;
  border-radius: 8px;
  display: inline-block;
  animation: pulse 1s infinite; /* Add pulsing animation */
}

/* Define the pulsing animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#result {
  font-size: 3rem;
  margin-bottom: 3rem;
}

#showHistoryButton {
  margin-bottom: 2rem;
}

/* Add a spinning animation */
.spinner {
  font-size: 8rem;
}

.spinner .spinner-img {
  animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
